body,
html {
  font-size: 16px;
  line-height: 1.5em;
  width: 100%;
}

#main #inputs {
  margin-top: 20px;
  margin-bottom: 30px;  
  display: flex;
  justify-content: space-around;
  align-items: center;  
}

#main #inputs #btree-add {
  display: flex;
  justify-content: center;
  align-items: center;  
  border: 1px solid green;
  padding: 10px;
  border-radius: 10px;
}

#main #inputs h1 {
  display: flex;
  align-items: center;
  margin: 0;
}

#main #inputs h1 .label {
  margin: 0px 15px;
  font-size: 15px;
  font-weight: 400;
}

#main #inputs .form-inline {
  margin: 0;
}

#main #inputs h1 .label #order-display {
  font-weight: 600;
}

#main .node circle {
  fill: #fff;
  stroke: green;
  stroke-width: 3px;
}
#main .node text {
  font: 15px sans-serif;
}
#main .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

